{% extends "body.html" %}
{% block body %}
<h3>{{ title }}</h3>
<div class='updatingitems'>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.item_name.label }} {{ form.item_name }}
        <br>
        {{ form.value.label }} {{ form.value }}
        <br>
        {{ form.weight.label }} {{ form.weight }}
        <br>
        {{ form.rarity.label }} {{ form.rarity }}
        <br>
        {{ form.owner.label }} {{ form.owner }}
        <br>
        {{ form.submit }}
    </form>
</div>

{% endblock body %}